<template>
  <div class="start" v-if="showWindow">
    <div class="start__wrapper">
      <div class="start__head">
        <button class="start__cross" @click="closeAddUser">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5715 2.57153L2.57153 20.5715"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.57153 2.57153L20.5715 20.5715"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <h2 class="start__title">СТВОРЕННЯ СУБ-АДМІНА</h2>
      </div>

      <!-- Форма -->
      <form action="#" class="start__forma" @submit.prevent>
        <base-input
          type="text"
          placeholder="Введіть ім'я"
          label="Ім'я"
          v-model="subadmin.name"
          :error="errors.firstname"
        />
        <base-input
          type="text"
          placeholder="Введіть прізвище"
          label="Прізвище"
          v-model="subadmin.surname"
          :error="errors.lastname"
        />

        <base-input
          type="email"
          placeholder="Введіть пошту"
          label="Електронна пошта"
          v-model="subadmin.email"
          :error="errors.email"
        />

        <base-input
          type="password"
          placeholder="Введіть пароль"
          label="Пароль"
          v-model="subadmin.password"
          :error="errors.password"
        />
        <div>
          <!-- Мультиселект -->
          <div
            class="multi-select"
            @click="openOption"
            :class="{ error: errors.permissions }"
          >
            <div class="selected-options" v-if="optionsShow">
              <div
                v-for="option in selectedOptions"
                :key="option.value"
                class="selected-option"
              >
                {{ option.name }}
                <button @click="removeOption(option)">x</button>
              </div>
            </div>
            <div class="select-options" v-if="optionsShow">
              <div
                v-for="permission in allOptions"
                :key="permission.id"
                class="select-option"
                :class="{ active: permission.active }"
                @click="toggleOption(permission)"
              >
                {{ permission.name }}
              </div>
            </div>
          </div>
          <span class="start__error" v-if="errors.permissions !== null">{{
            errors.permissions
          }}</span>
        </div>

        <div>
          <!-- Catalog -->
          <div
            class="multi-select multi-select--catalog"
            @click="openOptionCatalog"
            :class="{ error: errors.catalogs }"
          >
            <div class="selected-options" v-if="optionsShowCatalog">
              <div
                v-for="option in selectedOptionsCatalog"
                :key="option.value"
                class="selected-option"
              >
                {{ option.name }}
                <button @click="removeOptionCatalog(option)">x</button>
              </div>
            </div>
            <div class="select-options" v-if="optionsShowCatalog">
              <div
                v-for="catalog in allOptionsCatalog"
                :key="catalog.id"
                class="select-option"
                :class="{ active: catalog.active }"
                @click="toggleOptionCatalog(catalog)"
              >
                {{ catalog.name }}
              </div>
            </div>
          </div>
          <span class="start__error" v-if="errors.catalogs !== null">{{
            errors.catalogs
          }}</span>
        </div>

        <base-btn text="СТВОРИТИ" @click="handleAdd" />
      </form>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";
import BaseBtn from "@/components/BaseBtn.vue";
import BaseInput from "@/components/BaseInput.vue";

export default {
  name: "AddUser",
  components: {
    BaseBtn,
    BaseInput,
  },
  data: () => ({
    subadmin: {
      email: "",
      password: "",
      name: "",
      surname: "",
    },
    showWindow: true,
    optionsShow: false,
    selectedOptions: [],
    allOptions: null,
    optionsShowCatalog: false,
    selectedOptionsCatalog: [],
    allOptionsCatalog: null,
    errors: {
      email: null,
      password: null,
      firstname: null,
      lastname: null,
      permissions: null,
      catalogs: null,
    },
  }),

  computed: {
    ...mapState(["permissions", "catalogs"]),

    closeAddUser() {
      return this.$emit("close-window");
    },
  },

  methods: {
    ...mapMutations(["getSubadmins"]),

    //Дозвіли
    // Додавання опцій
    toggleOption(option) {
      option.active = !option.active;
      if (option.active) {
        this.selectedOptions.push(option);
      } else {
        this.selectedOptions = this.selectedOptions.filter(
          (selectedOption) => selectedOption.id !== option.id
        );
      }
    },

    // Видалення опцій
    removeOption(option) {
      option.active = false;
      const index = this.selectedOptions.findIndex(
        (selectedOption) => selectedOption.id === option.id
      );
      if (index > -1) {
        this.selectedOptions.splice(index, 1);
      }
    },

    //Відкриття опцій
    openOption() {
      this.optionsShow = true;
      if (this.allOptions === null) {
        this.allOptions = JSON.parse(JSON.stringify(this.permissions));
      }
    },

    // Каталоги
    // Додавання опцій
    toggleOptionCatalog(option) {
      option.active = !option.active;
      if (option.active) {
        this.selectedOptionsCatalog.push(option);
      } else {
        this.selectedOptionsCatalog = this.selectedOptionsCatalog.filter(
          (selectedOption) => selectedOption.id !== option.id
        );
      }
    },

    // Видалення опцій
    removeOptionCatalog(option) {
      option.active = false;
      const index = this.selectedOptionsCatalog.findIndex(
        (selectedOption) => selectedOption.id === option.id
      );
      if (index > -1) {
        this.selectedOptionsCatalog.splice(index, 1);
      }
    },

    //Відкриття опцій
    openOptionCatalog() {
      this.optionsShowCatalog = true;
      if (this.allOptionsCatalog === null) {
        this.allOptionsCatalog = JSON.parse(JSON.stringify(this.catalogs));
      }
    },

    // Створення субадміна
    handleAdd() {
      axios
        .post("/admins", {
          email: this.subadmin.email,
          password: this.subadmin.password,
          first_name: this.subadmin.name,
          last_name: this.subadmin.surname,
          permission_ids: this.selectedOptions.map(
            (permission) => permission.id
          ),
          catalog_ids: this.selectedOptionsCatalog.map((catalog) => catalog.id),
        })
        .then(() => {
          axios
            .get("/admins")
            .then((response) => {
              const subadmins = response.data;
              this.getSubadmins(subadmins);
            })
            .catch((error) => console.log(error));

          this.showWindow = false;
        })
        .catch((e) => {
          console.log(e);
          if (this.subadmin.name === "" || this.subadmin.name === null) {
            this.errors.firstname =
              e.response.data.errors.first_name.constraints[0];
          }
          if (this.subadmin.surname === "" || this.subadmin.surname === null) {
            this.errors.lastname =
              e.response.data.errors.last_name.constraints[0];
          }
          if (this.subadmin.email === "" || this.subadmin.email === null) {
            this.errors.email = e.response.data.errors.email.constraints[0];
          }
          if (
            this.subadmin.password === "" ||
            this.subadmin.password === null
          ) {
            this.errors.password =
              e.response.data.errors.password.constraints[0];
          }
          if (this.selectedOptions.length === 0) {
            this.errors.permissions =
              e.response.data.errors.permission_ids.constraints[0];
          }
          if (this.selectedOptionsCatalog.length === 0) {
            this.errors.catalogs =
              e.response.data.errors.catalog_ids.constraints[0];
          }
          this.showWindow = true;
        });
    },
  },
};
</script>

<style scoped lang="scss">
.start {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    position: absolute;
    z-index: 100;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    max-width: 500px;
    max-height: 626px;
    width: 100%;

    padding: 20px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;

      &-track {
        border-radius: 5px;
        border: 1px solid #fff;
        background: #e3e8ec;
      }

      &-thumb {
        border-radius: 5px;
        background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      }
    }
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
  }

  &__icon {
    width: 54px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
    background: #ececec;

    & img {
      display: block;
      width: 36px;
      height: 36px;
    }
  }

  &__error {
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: red;
    margin-top: 5px;
  }

  &__title {
    color: #333;
    font-size: 24px;
  }

  &__forma {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}

.multi-select {
  position: relative;
  width: 460px;
  padding: 0 1rem;
  border-radius: 0.75rem;
  background-color: #f0f5f8;
  border: 1px solid #b8bfca;

  color: #333;
  min-height: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: pointer;
  margin-top: 10px;

  &.error {
    border-color: #d6244e;
    background-color: #ffeff3;
  }
}

.multi-select::before {
  content: "Дозвіли";
  margin: auto;
  font-size: 16px;
  color: #9898a1;
  padding-left: 10px;
}
.multi-select--catalog::before {
  content: "Каталоги";
  margin: auto;
  font-size: 16px;
  color: #9898a1;
  padding-left: 10px;
}

.select-options {
  background-color: #fff;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;

    &-track {
      border-radius: 5px;
      border: 1px solid #fff;
      background: #e3e8ec;
    }

    &-thumb {
      border-radius: 5px;
      background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
    }
  }
}

.select-option {
  padding: 8px;
  font-size: 16px;

  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.select-option:last-of-type {
  border-bottom: none;
}

.select-option:hover {
  background-color: #f5f5f5;
}

.select-option.active {
  background-color: #c3d2ff;
  color: #fff;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  min-height: 10px;
}

.selected-option {
  display: flex;
  align-items: center;
  background-color: #007bff;

  color: #fff;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.selected-option button {
  margin-left: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
</style>
