<template>
  <div class="input" :class="{ error: error, disabled: disabled }">
    <label v-if="label" :for="id" class="text text--fz18 text--grey">
      {{ label }}
      <span v-if="required" class="text--red">*</span>
    </label>

    <div class="input__block">
      <input
        :id="id"
        :type="type"
        :placeholder="placeholder"
        :value="modelValue"
        class="input__field"
        autocomplete="off"
        :disabled="disabled"
        :readonly="readonly"
        @input="handleInputErr($event, id)"
      />
    </div>

    <p v-if="error" class="text text--fz13 text--red input__error">
      {{ error }}
    </p>
    <p v-if="text" class="input__text">{{ text }}</p>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: "text",
    },
    id: {
      type: String,
      required: true,
    },
    label: String,
    placeholder: String,
    error: [String, null],
    text: String,
    modelValue: [String, Number, null],
    disabled: Boolean,
    readonly: Boolean,
  },
  methods: {
    checkValue(e) {
      if (this.onlyInt) {
        e.target.value = e.target.value.replace(/[^\d]/g, "");
      } else if (this.onlyFloat) {
        e.target.value = e.target.value.replace(/[^\d.]/g, "");
      }
      return e.target.value;
    },
    sendModelValue(e) {
      this.$emit("update:modelValue", this.checkValue(e));
    },
    handleInputErr(e) {
      this.sendModelValue(e);
    },
    showPassword() {
      this.$emit("on-password-show");
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/input.scss";
@import "@/assets/scss/reset.scss";
</style>
