<template>
  <button class="btn">
    <span v-if="text">{{ text }}</span>
  </button>
</template>

<script>
export default {
  props: {
    text: { type: String, required: false },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/btn.scss";
</style>
