<template>
  <div class="info">
    <div class="info__wrapper">
      <h4>Каталоги, до яких надан доступ</h4>
      <ul class="info__list">
        <li class="info__item" v-for="item in userCatalog" :key="item">
          <BaseBtn
            class="info__label"
            :text="item.name"
            @click="openCatalog(item.id, item.text, item.name)"
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="start" v-if="showWindow">
    <div class="start__wrapper">
      <div class="start__head">
        <button class="start__cross" @click="closeCatalogInfo">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5715 2.57153L2.57153 20.5715"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.57153 2.57153L20.5715 20.5715"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <h2 class="start__title">КАТАЛОГ {{ name }}</h2>
      </div>

      <!-- Форма -->
      <form v-if="text" action="#" class="start__forma" @submit.prevent>
        <base-input
          type="text"
          placeholder="Введіть текст"
          label="Текст"
          v-model="text"
          :readonly="isReadOnly"
        />

        <base-btn
          v-if="keyW || keyA || keyE"
          text="ЗМІНИТИ"
          @click="handleSendText"
        />
      </form>

      <h4 v-if="text === ''">Цей каталог порожній</h4>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";
import BaseBtn from "@/components/BaseBtn.vue";
import BaseInput from "@/components/BaseInput.vue";

export default {
  name: "CatalogUser",
  components: {
    BaseBtn,
    BaseInput,
  },
  data() {
    return {
      showWindow: false,
      text: "",
      id: null,
      name: "",
    };
  },
  created() {
    axios
      .get("/auth/catalogs")
      .then((response) => {
        const userC = response.data;
        this.getUserCatalog(userC);
      })
      .catch((error) => console.log(error));
  },
  computed: {
    ...mapState(["userCatalog", "userPermission"]),
    closeCatalogUser() {
      return this.$emit("close-catalog");
    },
    keyE() {
      return this.userPermission.find((catalog) => catalog.key === "E");
    },
    keyA() {
      return this.userPermission.find((catalog) => catalog.key === "A");
    },
    keyW() {
      return this.userPermission.find((catalog) => catalog.key === "W");
    },
    keyR() {
      return this.userPermission.find((catalog) => catalog.key === "R");
    },
    isReadOnly() {
      // Забороняємо введення, якщо є тільки keyR і немає інших ключів
      return this.keyR && !this.keyE && !this.keyA && !this.keyW;
    },
  },
  methods: {
    ...mapMutations(["getUserCatalog"]),

    openCatalog(id, text, name) {
      this.showWindow = true;
      this.id = id;
      this.text = text;
      this.name = name;
    },

    closeCatalogInfo() {
      this.showWindow = false;
    },

    handleSendText() {
      const body = { text: this.text };
      axios
        .patch(`admins/catalog/${this.id}`, body)
        .then(() => {
          this.showWindow = false;
          axios
            .get("/auth/catalogs")
            .then((response) => {
              const userC = response.data;
              this.getUserCatalog(userC);
            })
            .catch((error) => console.log(error));
        })
        .catch((e) => console.log(e));
    },
  },
};
</script>

<style lang="scss" scoped>
p {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}

.start {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgba(41, 53, 96, 0.5);

  & h4 {
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
  }

  &__wrapper {
    position: absolute;
    z-index: 100;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    max-width: 500px;
    max-height: 626px;
    width: 100%;

    padding: 20px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;

      &-track {
        border-radius: 5px;
        border: 1px solid #fff;
        background: #e3e8ec;
      }

      &-thumb {
        border-radius: 5px;
        background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      }
    }
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
  }

  &__error {
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: red;
    margin-top: 5px;
  }

  &__title {
    color: #333;
    font-size: 24px;
  }

  &__forma {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}
.info {
  width: 100%;

  &__wrapper {
    margin-top: 20px;
    & h4 {
      font-size: 18px;
      font-weight: 400;
      color: rgb(49, 49, 49);
    }
  }

  &__list {
    margin-top: 5px;
    display: flex;
    gap: 10px;

    border-top: 1px solid rgb(174, 174, 174);
    padding-top: 10px;
  }

  &__item {
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
    width: fit-content;
    & p {
      font-size: 20px;
    }
  }
}
</style>
