<template>
  <div class="info">
    <div class="info__wrapper">
      <h4>Дозволи, які надані для управління</h4>
      <ul class="info__list">
        <li class="info__item" v-for="item in userPermission" :key="item">
          <p class="info__label">{{ item.key }} - {{ item.name }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";

export default {
  name: "PermissionUser",
  created() {
    axios
      .get("/auth/permissions")
      .then((response) => {
        const userP = response.data;
        this.getUserPermission(userP);
      })
      .catch((error) => console.log(error));
  },
  computed: {
    ...mapState(["userPermission"]),
    closePermissionUser() {
      return this.$emit("close-permission");
    },
    keyE() {
      return this.userPermission.find((catalog) => catalog.key === "E");
    },
  },
  methods: {
    ...mapMutations(["getUserPermission"]),
  },
};
</script>

<style lang="scss" scoped>
p {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
.info {
  width: 100%;

  &__block {
    margin-top: 20px;
    display: grid;
    gap: 15px;
  }

  &__contents {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__wrapper {
    margin-top: 20px;
    & h4 {
      font-size: 18px;
      font-weight: 400;
      color: rgb(49, 49, 49);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
  }

  &__list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-top: 1px solid rgb(174, 174, 174);
    padding-top: 10px;
  }

  &__item {
    & p {
      font-size: 16px;
    }
  }
}
</style>
