<template>
  <div class="promo">
    <div class="promo__wrapper">
      <div v-if="lengthUser">
        <ul class="promo__list">
          <li class="promo__item promo__item--head">
            <h4>ID</h4>
            <h4>Ім'я:</h4>
            <h4>Email</h4>
            <h4>Створення</h4>
            <h4>Останній вхід</h4>
          </li>
          <li
            class="promo__item promo__item--body"
            v-for="item in subadmins"
            :key="item.id"
          >
            <p>{{ item.id }}</p>
            <p>{{ item.first_name }} {{ item.last_name }}</p>
            <p>{{ item.email }}</p>
            <p>{{ formatFullDate(item.createdAt) }}</p>
            <p>{{ formatFullDate(item.updatedAt) }}</p>
            <div class="promo__button">
              <button class="promo__btn" @click="updateUser(item.id)">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M23.43 3.99829C23.2968 3.99829 23.1649 4.02491 23.0422 4.07657C22.9194 4.12824 22.8082 4.20392 22.715 4.29917L22.7055 4.30893L6.41201 20.5232L4.44233 27.5577L11.4769 25.5881L27.6958 9.29003C27.7895 9.19707 27.8639 9.08648 27.9147 8.96462C27.9655 8.84276 27.9916 8.71205 27.9916 8.58004C27.9916 8.44803 27.9655 8.31733 27.9147 8.19547C27.8639 8.07361 27.7895 7.963 27.6958 7.87004L27.6909 7.86517L24.145 4.29919C24.0519 4.20395 23.9407 4.12824 23.8179 4.07657C23.6951 4.02491 23.5632 3.99829 23.43 3.99829ZM22.2664 2.23314C22.6348 2.07814 23.0304 1.99829 23.43 1.99829C23.8297 1.99829 24.2253 2.07814 24.5936 2.23314C24.9605 2.38753 25.293 2.61339 25.5717 2.89755L29.1042 6.45004L29.1069 6.45274C29.3868 6.73107 29.6091 7.06191 29.7609 7.42631C29.9132 7.79189 29.9916 8.18401 29.9916 8.58004C29.9916 8.97608 29.9132 9.3682 29.7609 9.73377C29.6091 10.0982 29.3868 10.4291 29.1068 10.7075L29.1042 10.71L12.7088 27.1854C12.5871 27.3077 12.4358 27.3965 12.2697 27.443L3.26965 29.963C2.92176 30.0604 2.54838 29.9626 2.29292 29.7072C2.03746 29.4517 1.93965 29.0783 2.03706 28.7304L4.55706 19.7304C4.60359 19.5642 4.69232 19.4129 4.81464 19.2912L21.2902 2.8956C21.5686 2.61236 21.9004 2.38718 22.2664 2.23314Z"
                  />
                </svg>
              </button>

              <!-- Вікно редагування -->
              <div class="start" v-if="showWindow">
                <div class="start__wrapper">
                  <div class="start__head">
                    <button class="start__cross" @click="closeUser">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.5715 2.57153L2.57153 20.5715"
                          stroke="black"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M2.57153 2.57153L20.5715 20.5715"
                          stroke="black"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                    <h2 class="start__title">РЕДАГУВАННЯ СУБАДМІНА</h2>
                  </div>
                  <form action="#" class="start__forma" @submit.prevent>
                    <base-input
                      type="text"
                      placeholder="Введіть ім'я"
                      label="Ім'я"
                      v-model="subadmin.name"
                      :error="errors.firstname"
                    />
                    <base-input
                      type="text"
                      placeholder="Введіть прізвище"
                      label="Прізвище"
                      v-model="subadmin.surname"
                      :error="errors.lastname"
                    />

                    <base-input
                      type="email"
                      placeholder="Введіть пошту"
                      label="Електронна пошта"
                      v-model="subadmin.email"
                      :error="errors.email"
                    />

                    <!-- Мультиселект -->
                    <div
                      class="multi-select"
                      @click="openOption"
                      :class="{ error: errors.permissions }"
                    >
                      <div class="selected-options" v-if="optionsShow">
                        <div
                          v-for="option in subadmin.permissions"
                          :key="option.value"
                          class="selected-option"
                        >
                          {{ option.name }}
                          <button @click="removeOption(option)">x</button>
                        </div>
                      </div>
                      <div class="select-options">
                        <div
                          v-for="permission in allOptions"
                          :key="permission.id"
                          class="select-option"
                          :class="{ active: permission.active }"
                          @click="toggleOption(permission)"
                        >
                          {{ permission.name }}
                        </div>
                      </div>
                    </div>
                    <span
                      class="start__error"
                      v-if="errors.permissions !== null"
                      >{{ errors.permissions }}</span
                    >

                    <!-- Каталоги -->
                    <div
                      class="multi-select multi-select--catalog"
                      @click="openOptionCatalog"
                      :class="{ error: errors.catalogs }"
                    >
                      <div class="selected-options" v-if="optionsShowCatalog">
                        <div
                          v-for="option in subadmin.catalogs"
                          :key="option.value"
                          class="selected-option"
                        >
                          {{ option.name }}
                          <button @click="removeOptionCatalog(option)">
                            x
                          </button>
                        </div>
                      </div>
                      <div class="select-options">
                        <div
                          v-for="catalog in allOptionsCatalog"
                          :key="catalog.id"
                          class="select-option"
                          :class="{ active: catalog.active }"
                          @click="toggleOptionCatalog(catalog)"
                        >
                          {{ catalog.name }}
                        </div>
                      </div>
                    </div>
                    <span
                      class="start__error"
                      v-if="errors.catalogs !== null"
                      >{{ errors.catalogs }}</span
                    >

                    <base-btn text=" ВІДПРАВИТИ ЗМІНИ" @click="sendUpdate()" />
                  </form>
                </div>
              </div>

              <button class="promo__btn" @click="deleteUser(item.id)">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="currentColor"
                    d="M13 14.0156C13.5523 14.0156 14 14.4633 14 15.0156V23.0186C14 23.5709 13.5523 24.0186 13 24.0186C12.4477 24.0186 12 23.5709 12 23.0186V15.0156C12 14.4633 12.4477 14.0156 13 14.0156Z"
                  />
                  <path
                    fill="currentColor"
                    d="M20 15.0156C20 14.4633 19.5523 14.0156 19 14.0156C18.4477 14.0156 18 14.4633 18 15.0156V23.0186C18 23.5709 18.4477 24.0186 19 24.0186C19.5523 24.0186 20 23.5709 20 23.0186V15.0156Z"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10 8.0094C10 6.4181 10.6321 4.89198 11.7574 3.76676C12.8826 2.64154 14.4087 2.0094 16 2.0094C17.5913 2.0094 19.1174 2.64154 20.2426 3.76676C21.3679 4.89198 22 6.4181 22 8.0094H28C28.5523 8.0094 29 8.45711 29 9.0094C29 9.56168 28.5523 10.0094 28 10.0094H26V27.0094C26 27.805 25.6839 28.5681 25.1213 29.1307C24.5587 29.6933 23.7957 30.0094 23 30.0094H9C8.20435 30.0094 7.44129 29.6933 6.87868 29.1307C6.31607 28.5681 6 27.805 6 27.0094V10.0094H4C3.44772 10.0094 3 9.56168 3 9.0094C3 8.45711 3.44772 8.0094 4 8.0094H10ZM13.1716 5.18097C13.9217 4.43083 14.9391 4.0094 16 4.0094C17.0609 4.0094 18.0783 4.43083 18.8284 5.18097C19.5786 5.93112 20 6.94853 20 8.0094H12C12 6.94853 12.4214 5.93112 13.1716 5.18097ZM8 10.0094V27.0094C8 27.2746 8.10536 27.529 8.29289 27.7165C8.48043 27.904 8.73478 28.0094 9 28.0094H23C23.2652 28.0094 23.5196 27.904 23.7071 27.7165C23.8946 27.529 24 27.2746 24 27.0094V10.0094H8Z"
                  />
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div v-else>
        <p class="promo__else">Список субадмінів порожній</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";
import BaseBtn from "@/components/BaseBtn.vue";
import BaseInput from "@/components/BaseInput.vue";

export default {
  name: "ListUser",
  components: {
    BaseBtn,
    BaseInput,
  },
  data() {
    return {
      subadmin: {
        email: "",
        name: "",
        surname: "",
        permissions: [],
        catalogs: [],
      },
      id: null,
      oldSybadmin: {
        email: "",
        name: "",
        surname: "",
        permissions: [],
        catalogs: [],
      },
      showWindow: false,
      optionsShow: false,
      allOptions: null,

      optionsShowCatalog: false,
      allOptionsCatalog: null,
      errors: {
        email: null,
        password: null,
        firstname: null,
        lastname: null,
        permissions: null,
        catalogs: null,
      },
    };
  },
  created() {
    // Отримання всіх субадмінів
    axios
      .get("/admins")
      .then((response) => {
        const subadmins = response.data;
        this.getSubadmins(subadmins);
      })
      .catch((error) => console.log(error));
  },

  computed: {
    ...mapState(["subadmins", "catalogs", "permissions"]),

    closeListUser() {
      return this.$emit("close-list");
    },

    lengthUser() {
      return this.subadmins.length > 0;
    },
  },

  methods: {
    ...mapMutations(["getSubadmins", "getCatalogs"]),

    closeUser() {
      this.optionsShow = false;
      this.optionsShowCatalog = false;

      this.showWindow = false;
    },

    // День, місяць
    formatHumanDate(time) {
      const inputDate = time ? new Date(time) : new Date();
      const inputDay = inputDate.getDate();
      const inputMonth = inputDate.getMonth();

      return `${inputDay.toString().padStart(2, "0")}.${(inputMonth + 1)
        .toString()
        .padStart(2, "0")}`;
    },

    // Час
    formatHumanTime(time) {
      const inputDate = time ? new Date(time) : new Date();
      const inputHours = inputDate.getHours();
      const inputMinutes = inputDate.getMinutes();

      return `${inputHours.toString().padStart(2, "0")}:${inputMinutes
        .toString()
        .padStart(2, "0")}`;
    },

    formatFullDate(time) {
      return `${this.formatHumanDate(time)} ${this.formatHumanTime(time)}`;
    },

    // Select
    // Додавання дозвілів
    toggleOption(option) {
      option.active = !option.active;
      if (option.active) {
        this.subadmin.permissions.push(option);
      } else {
        this.subadmin.permissions = this.subadmin.permissions.filter(
          (selectedOption) => selectedOption.id !== option.id
        );
      }
    },

    // Видаляємо дозволи
    removeOption(option) {
      option.active = false;
      const index = this.subadmin.permissions.findIndex(
        (selectedOption) => selectedOption.id === option.id
      );
      if (index > -1) {
        this.subadmin.permissions.splice(index, 1);
      }
    },

    // Відкриваємо мультиселект
    openOption() {
      this.optionsShow = true;
      this.allOptions = JSON.parse(JSON.stringify(this.permissions)).map(
        (option) => ({ ...option, active: false })
      );
      this.allOptions = this.allOptions.map((allOption) => {
        if (
          this.subadmin.permissions.some(
            (selected) => selected.id === allOption.id
          )
        ) {
          allOption.active = true;
        }
        return allOption;
      });
    },

    //Catalog
    // Додавання дозвілів
    toggleOptionCatalog(optionCatalog) {
      optionCatalog.active = !optionCatalog.active;
      if (optionCatalog.active) {
        this.subadmin.catalogs.push(optionCatalog);
      } else {
        this.subadmin.catalogs = this.subadmin.catalogs.filter(
          (selectedOptionCatalog) =>
            selectedOptionCatalog.id !== optionCatalog.id
        );
      }
    },

    // Видаляємо дозволи
    removeOptionCatalog(optionCatalog) {
      optionCatalog.active = false;
      const index = this.subadmin.catalogs.findIndex(
        (selectedOptionCatalog) => selectedOptionCatalog.id === optionCatalog.id
      );
      if (index > -1) {
        this.subadmin.catalogs.splice(index, 1);
      }
    },

    // Відкриваємо мультиселект
    openOptionCatalog() {
      this.optionsShowCatalog = true;
      this.allOptionsCatalog = JSON.parse(JSON.stringify(this.catalogs)).map(
        (optionCatalog) => ({ ...optionCatalog, active: false })
      );
      this.allOptionsCatalog = this.allOptionsCatalog.map(
        (allOptionsCatalog) => {
          if (
            this.subadmin.catalogs.some(
              (selectedCatalog) => selectedCatalog.id === allOptionsCatalog.id
            )
          ) {
            allOptionsCatalog.active = true;
          }
          return allOptionsCatalog;
        }
      );
    },

    // Видалення суб-адміна
    deleteUser(id) {
      axios
        .delete(`/admins/${id}`)
        .then(() => {
          axios
            .get("/admins")
            .then((response) => {
              const subadmins = response.data;
              this.getSubadmins(subadmins);
            })
            .catch((error) => console.log(error));
        })
        .catch((error) => console.log(error));
    },

    // Змінюємо те, що нам потрібно
    updateUser(id) {
      this.id = id;
      axios
        .get(`/admins/${this.id}`)
        .then((res) => {
          const subadmin = res.data;
          this.oldSybadmin = subadmin;
          this.subadmin.name = subadmin.first_name;
          this.subadmin.surname = subadmin.last_name;
          this.subadmin.email = subadmin.email;
          this.subadmin.permissions = subadmin.permissions;
          this.subadmin.catalogs = subadmin.catalogs;
          this.optionsShow = false;
          this.optionsShowCatalog = false;
          this.openOption();
          this.showWindow = true;
        })
        .catch((e) => console.log(e));
      axios
        .get("/admins")
        .then((response) => {
          const subadmins = response.data;
          this.getSubadmins(subadmins);
        })
        .catch((error) => console.log(error));
    },

    // Відправляємо змінені дані
    sendUpdate() {
      const body = {};
      if (this.oldSybadmin.first_name !== this.subadmin.name) {
        body.first_name = this.subadmin.name;
      }
      if (this.oldSybadmin.last_name !== this.subadmin.surname) {
        body.last_name = this.subadmin.surname;
      }
      if (this.oldSybadmin.email !== this.subadmin.email) {
        body.email = this.subadmin.email;
      }
      body.permission_ids = this.subadmin.permissions.map(({ id }) => id);
      body.catalog_ids = this.subadmin.catalogs.map(({ id }) => id);

      axios
        .patch(`/admins/${this.id}`, body)
        .then(() => {
          this.showWindow = false;
          axios
            .get("/admins")
            .then((response) => {
              const subadmins = response.data;
              this.getSubadmins(subadmins);
            })
            .catch((error) => console.log(error));
        })
        .catch((e) => console.log(e));
    },
  },
};
</script>

<style lang="scss" scoped>
p {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}

.start {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    position: absolute;
    z-index: 100;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    max-width: 500px;
    max-height: 626px;
    width: 100%;

    padding: 20px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;

      &-track {
        border-radius: 5px;
        border: 1px solid #fff;
        background: #e3e8ec;
      }

      &-thumb {
        border-radius: 5px;
        background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      }
    }
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
  }

  &__icon {
    width: 54px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
    background: #ececec;

    & img {
      display: block;
      width: 36px;
      height: 36px;
    }
  }

  &__error {
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: red;
    margin-top: 5px;
  }

  &__title {
    color: #333;
    font-size: 24px;
  }

  &__img {
    margin-top: 10px;
    width: 70px;
    height: 70px;

    & svg {
      stroke: orangered;
      margin-left: 5px;
      width: 70px;
      height: 70px;
    }
  }

  &__round {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 42%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-right: 5%;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 45%;
      height: 1px;
      background: #aaa;
      vertical-align: middle;
      margin-left: 5%;
    }
  }

  &__forma {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  &__field {
    width: 100%;
    display: flex;
    border: 1px solid #aaa;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    & input {
      border: none;
      width: 100%;
      padding: 0 15px;
      font-size: 16px;
      color: #555555;
    }
  }

  &__btn {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: orangered;
    border: none;
    margin-top: 20px;
  }

  &__btn .disable {
    background-color: #aaa;
  }
  &__text {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
}
.promo {
  width: 100%;
  overflow: hidden;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
    max-height: 280px;
    padding-right: 15px;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;

      &-track {
        border-radius: 5px;
        border: 1px solid #fff;
        background: #e3e8ec;
      }

      &-thumb {
        border-radius: 5px;
        background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      }
    }
  }

  &__item {
    display: grid;

    gap: 10px;
    align-items: center;

    &--body {
      grid-template-columns: 5% 20% 23% 1fr 1fr 1fr;
    }

    &--head {
      border-bottom: 1px solid rgb(174, 174, 174);
      grid-template-columns: 5% 20% 23% 1fr 1fr 1fr;
      padding-bottom: 5px;
    }

    & p {
      font-size: 16px;
      word-wrap: break-word;
    }

    & h4 {
      font-size: 18px;
      font-weight: 400;
      color: rgb(49, 49, 49);
    }
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-left: auto;
  }

  &__btn {
    padding: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
  }

  &__else {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }
}

.multi-select {
  position: relative;
  width: 460px;
  padding: 0 1rem;
  border-radius: 0.75rem;
  background-color: #f0f5f8;
  border: 1px solid #b8bfca;

  color: #333;
  min-height: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: pointer;
  margin-top: 10px;

  &.error {
    border-color: #d6244e;
    background-color: #ffeff3;
  }
}

.multi-select::before {
  content: "Дозвіли";
  margin: auto;
  font-size: 16px;
  color: #9898a1;
  padding-left: 10px;
}

.multi-select--catalog::before {
  content: "Каталоги";
  margin: auto;
  font-size: 16px;
  color: #9898a1;
  padding-left: 10px;
}

.select-options {
  background-color: #fff;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;

    &-track {
      border-radius: 5px;
      border: 1px solid #fff;
      background: #e3e8ec;
    }

    &-thumb {
      border-radius: 5px;
      background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
    }
  }
}

.select-option {
  padding: 8px;
  font-size: 16px;

  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.select-option:last-of-type {
  border-bottom: none;
}

.select-option:hover {
  background-color: #f5f5f5;
}

.select-option.active {
  background-color: #c3d2ff;
  color: #fff;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  min-height: 10px;
}

.selected-option {
  display: flex;
  align-items: center;
  background-color: #007bff;

  color: #fff;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.selected-option button {
  margin-left: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
</style>
