<template>
  <div class="hero">
    <div class="hero__wrapper">
      <div class="hero__block">
        <div class="hero__head">
          <div class="hero__logo">
            <img src="../assets/image/admin.png" alt="logo" />
          </div>
          <button @click="doLogOut">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.29289 4.29289C4.48043 4.10536 4.73478 4 5 4H19C19.2652 4 19.5196 4.10536 19.7071 4.29289C19.8946 4.48043 20 4.73478 20 5V9C20 9.55228 20.4477 10 21 10C21.5523 10 22 9.55228 22 9V5C22 4.20435 21.6839 3.44129 21.1213 2.87868C20.5587 2.31607 19.7957 2 19 2H5C4.20435 2 3.44129 2.31607 2.87868 2.87868C2.31607 3.44129 2 4.20435 2 5V27C2 27.7957 2.31607 28.5587 2.87868 29.1213C3.44129 29.6839 4.20435 30 5 30H19C19.7957 30 20.5587 29.6839 21.1213 29.1213C21.6839 28.5587 22 27.7957 22 27V23C22 22.4477 21.5523 22 21 22C20.4477 22 20 22.4477 20 23V27C20 27.2652 19.8946 27.5196 19.7071 27.7071C19.5196 27.8946 19.2652 28 19 28H5C4.73478 28 4.48043 27.8946 4.29289 27.7071C4.10536 27.5196 4 27.2652 4 27V5C4 4.73478 4.10536 4.48043 4.29289 4.29289Z"
                fill="url(#paint0_linear_933_27324)"
              />
              <path
                d="M25.7071 11.2929C25.3166 10.9024 24.6834 10.9024 24.2929 11.2929C23.9024 11.6834 23.9024 12.3166 24.2929 12.7071L26.5858 15H14.9375C14.4197 15 14 15.4477 14 16C14 16.5523 14.4197 17 14.9375 17H26.5858L24.2929 19.2929C23.9024 19.6834 23.9024 20.3166 24.2929 20.7071C24.6834 21.0976 25.3166 21.0976 25.7071 20.7071L29.7071 16.7071C30.0976 16.3166 30.0976 15.6834 29.7071 15.2929L25.7071 11.2929Z"
                fill="url(#paint1_linear_933_27324)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_933_27324"
                  x1="16"
                  y1="2"
                  x2="16"
                  y2="30"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#6EB6FF" />
                  <stop offset="1" stop-color="#8080F6" />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_933_27324"
                  x1="16"
                  y1="2"
                  x2="16"
                  y2="30"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#6EB6FF" />
                  <stop offset="1" stop-color="#8080F6" />
                </linearGradient>
              </defs>
            </svg>
          </button>
        </div>
        <h1 class="hero__title">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16 13.5733C14.6598 13.5733 13.5733 14.6598 13.5733 16C13.5733 17.3402 14.6598 18.4266 16 18.4266C17.3402 18.4266 18.4267 17.3402 18.4267 16C18.4267 14.6598 17.3402 13.5733 16 13.5733ZM11.5733 16C11.5733 13.5552 13.5552 11.5733 16 11.5733C18.4448 11.5733 20.4267 13.5552 20.4267 16C20.4267 18.4447 18.4448 20.4266 16 20.4266C13.5552 20.4266 11.5733 18.4447 11.5733 16Z"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.56 5.71996C11.56 4.03436 12.9276 2.66663 14.6133 2.66663H17.3599C19.0456 2.66663 20.4133 4.03434 20.4133 5.71996V6.50662C20.4133 7.32454 21.2892 7.83059 21.9962 7.42557L21.999 7.424L22.6754 7.03938C24.1398 6.19167 26.0019 6.68913 26.8512 8.15087L26.8522 8.15244L28.2237 10.5227C29.0782 11.9778 28.5762 13.8559 27.1157 14.7046L27.1076 14.7093L26.4304 15.0943L26.4293 15.095C25.728 15.4977 25.728 16.5155 26.4293 16.9183L26.4304 16.9189L27.1076 17.304L27.1208 17.3117C28.5571 18.1577 29.0803 20.0157 28.2249 21.4885V21.4885L26.8483 23.8675C26.003 25.3025 24.1476 25.826 22.6755 24.9739L21.999 24.5893L21.9962 24.5877C21.2892 24.1827 20.4133 24.6887 20.4133 25.5066V26.2933C20.4133 27.9789 19.0456 29.3466 17.3599 29.3466H14.6133C12.9276 29.3466 11.56 27.9789 11.56 26.2933V25.5066C11.56 24.6887 10.6841 24.1826 9.97699 24.5877L9.97426 24.5892L9.29796 24.9738C7.8335 25.8216 5.9714 25.3241 5.12199 23.8624L3.74866 21.489V21.489C2.89787 20.024 3.39452 18.1588 4.85753 17.3087L4.86563 17.304L5.54292 16.9189L5.54398 16.9183C6.24523 16.5156 6.24529 15.4979 5.54415 15.0951L5.54292 15.0943L4.86565 14.7092L4.85241 14.7016C3.41621 13.8556 2.893 11.9978 3.74817 10.525V10.525L5.12496 8.14574C5.97027 6.71068 7.82583 6.18718 9.298 7.03946L9.97426 7.42401L9.97699 7.42557C10.6841 7.8306 11.56 7.32452 11.56 6.50662V5.71996ZM14.6133 4.66663C14.0323 4.66663 13.56 5.13889 13.56 5.71996V6.50662C13.56 8.86149 11.0237 10.3286 8.98438 9.16187L8.9829 9.16102L8.29753 8.77129C7.79799 8.48102 7.15115 8.65002 6.84991 9.15802L5.47791 11.529C5.18816 12.0277 5.35607 12.6731 5.86195 12.975L6.53701 13.3589C8.58095 14.5297 8.58095 17.4835 6.53701 18.6543L6.53426 18.6559L5.85897 19.0399C5.35153 19.3372 5.18326 19.9771 5.47791 20.4842L5.47882 20.4858L6.85124 22.8575V22.8575C7.14779 23.3672 7.78954 23.5372 8.29755 23.242L8.30563 23.2373L8.9829 22.8522L8.98438 22.8514C11.0237 21.6847 13.56 23.1517 13.56 25.5066V26.2933C13.56 26.8744 14.0323 27.3466 14.6133 27.3466H17.3599C17.941 27.3466 18.4133 26.8743 18.4133 26.2933V25.5066C18.4133 23.1519 20.9492 21.6848 22.9885 22.8512L22.9903 22.8522L23.6757 23.242C24.1753 23.5322 24.8222 23.3632 25.1234 22.8551L25.125 22.8524L26.4944 20.4858L26.4953 20.4842C26.7851 19.9856 26.6172 19.3401 26.1113 19.0382L25.439 18.6559L25.4363 18.6543C23.3923 17.4835 23.3923 14.5297 25.4363 13.3589L25.439 13.3573L26.1142 12.9734C26.6232 12.6752 26.7869 12.0241 26.4983 11.5342L26.4944 11.5275L25.122 9.15571V9.15571C24.8255 8.64602 24.1838 8.47604 23.6757 8.77125L23.6676 8.77596L22.9903 9.16102L22.9886 9.16199C20.9493 10.3285 18.4133 8.86139 18.4133 6.50662V5.71996C18.4133 5.13892 17.941 4.66663 17.3599 4.66663H14.6133Z"
            />
          </svg>
          <span>{{ user.role }}</span>
        </h1>

        <ul class="hero__list">
          <li class="hero__item hero__item--head">
            <h4>ID</h4>
            <h4>Ім'я:</h4>
            <h4>Email</h4>
            <base-btn
              v-if="btnAdd"
              text="Створити субадміна"
              @click="openCreate"
            />
          </li>
          <li class="hero__item">
            <p>{{ user.id }}</p>
            <p>{{ user.firstname }} {{ user.lastname }}</p>
            <p>{{ user.email }}</p>
          </li>
        </ul>

        <ul class="tabs">
          <template v-for="(item, i) in btnName" :key="i">
            <li
              v-if="item.show"
              class="tabs__item"
              :class="{ 'tabs__item--active': activeTab === i }"
              @click="changeTab(i)"
            >
              <p class="text text--fw500 tabs__text">
                {{ item.name }}
              </p>

              <span
                v-if="subadmins.length && i === 0"
                class="text text--fz14 text--white tabs__amount"
              >
                {{ subadmins.length }}
              </span>
            </li></template
          >
        </ul>

        <subadmins
          v-if="listUser && activeTab === 0 && user.role === 'ADMIN'"
          @close-list="closeListUser"
        ></subadmins>
        <permission-user
          v-if="permissionsOpen && activeTab === 1"
          @close-permission="closePermission"
        ></permission-user>
        <catalog-user
          v-if="catalogsOpen && activeTab === 2"
          @close-catalog="closeCatalog"
        ></catalog-user>
      </div>
      <div class="hero__box">
        <div class="hero__img hero__img--1">
          <img src="../assets/image/admin1.jpg" alt="image" />
        </div>
        <div class="hero__img hero__img--2">
          <img src="../assets/image/admin2.jpg" alt="image" />
        </div>
        <div class="hero__img hero__img--3">
          <img src="../assets/image/admin3.jpg" alt="image" />
        </div>
      </div>
    </div>
  </div>
  <add-subadmin v-if="createUser" @close-window="closeAdd"></add-subadmin>
  <div class="message" v-if="showMessage">
    <div class="message__wrapper">
      <div class="message__head">
        <button class="message__cross" @click="closeMessage">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5715 2.57153L2.57153 20.5715"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.57153 2.57153L20.5715 20.5715"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <h2 class="message__title">Повідомлення</h2>
      </div>

      <h4>
        База даних заповнена, щоб створити нового субадміна, потрібно почистити
        базу!
      </h4>
    </div>
  </div>
  <!-- Modal -->
  <template></template>
  <Teleport to="body">
    <Transition name="fade">
      <div class="modal" v-if="show">
        <div class="modal__window">
          <div class="modal-head">
            <h2 class="title">Перевірка питанням</h2>
            <button class="modal-head__close" @click="closeModal">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M27.5071 6.70711C27.8976 6.31658 27.8976 5.68342 27.5071 5.29289C27.1166 4.90237 26.4834 4.90237 26.0929 5.29289L16.4 14.9858L6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L14.9858 16.4L5.29289 26.0929C4.90237 26.4834 4.90237 27.1166 5.29289 27.5071C5.68342 27.8976 6.31658 27.8976 6.70711 27.5071L16.4 17.8142L26.0929 27.5071C26.4834 27.8976 27.1166 27.8976 27.5071 27.5071C27.8976 27.1166 27.8976 26.4834 27.5071 26.0929L17.8142 16.4L27.5071 6.70711Z"
                />
              </svg>
            </button>
          </div>
          <div class="modal__wrapper">
            <h4>{{ currentQuestion.question }}</h4>
            <base-input
              id="answers"
              type="text"
              v-model="answers.answer"
              placeholder="Відповідь на питання"
              label="Дайте відповідь на питання"
              :error="answers.error"
            />
            <base-btn text="Відповісти" @click="checkAnswer" />
          </div>
        </div>
      </div>
    </Transition>
  </Teleport>
</template>

<script>
import AddSubadmin from "@/components/AddSubadmin.vue";
import Subadmins from "@/components/Subadmins.vue";
import PermissionUser from "@/components/PermissionUser.vue";
import CatalogUser from "@/components/CatalogUser.vue";

import BaseBtn from "@/components/BaseBtn.vue";
import BaseInput from "@/components/BaseInput.vue";

import axios from "@/api/api";
import { mapState, mapMutations } from "vuex";

export default {
  name: "AdminPage",
  components: {
    AddSubadmin,
    Subadmins,
    PermissionUser,
    CatalogUser,
    BaseBtn,
    BaseInput,
  },
  data() {
    return {
      user: {},
      createUser: false,
      listUser: false,
      permissionsOpen: false,
      catalogsOpen: false,

      btnList: true,
      btnAdd: true,
      showMessage: false,
      show: false,
      answers: {
        answer: "",
        error: null,
      },
      questions: [
        { question: "Яку назву має наша компанія?", answer: "Webnauts" },
        { question: "Скільки працівників працює у нас?", answer: "67" },
        { question: "Як звуть директора?", answer: "Саміра" },
        { question: "Скільки років компанії?", answer: "5" },
        { question: "Який пароль компанії?", answer: "Вебнавти" },
      ],
      currentQuestion: {},

      btnName: [
        { name: "Список субадмінів", show: true },
        { name: "Дозволи", show: true },
        { name: "Каталоги", show: true },
      ],
      activeTab: 0,
    };
  },

  created() {
    // Отримання списку дозвілів
    axios
      .get("/admins/permissions")
      .then((response) => {
        const permissions = response.data.map((option) => {
          option.active = false;
          return option;
        });
        this.getPermission(permissions);
      })
      .catch((error) => console.log(error));

    // Отримання списку каталогів
    axios
      .get("/admins/catalogs")
      .then((response) => {
        const catalogs = response.data.map((option) => {
          option.active = false;
          return option;
        });
        this.getCatalogs(catalogs);
      })
      .catch((error) => console.log(error));

    axios
      .get("/auth/catalogs")
      .then((response) => {
        const userC = response.data;
        this.getUserCatalog(userC);
      })
      .catch((error) => console.log(error));

    axios
      .get("/auth/permissions")
      .then((response) => {
        const userP = response.data;
        this.getUserPermission(userP);
      })
      .catch((error) => console.log(error));
  },

  mounted() {
    // Дістаємо дані з localStorage для виведення
    const storedUser = window.localStorage.getItem("user");
    if (storedUser) {
      this.user = JSON.parse(storedUser);
      if (this.user.role === "SUB_ADMIN") {
        this.btnAdd = false;
        this.btnName[0].show = false;
        this.activeTab = 1;
        this.permissionsOpen = true;
      }
    }
    this.openList();

    setInterval(() => {
      this.showModal();
    }, 480000); // 480000 мілісекунд = 8 хвилин
  },

  computed: {
    ...mapState(["permissions", "subadmins", "catalogs"]),
  },

  methods: {
    ...mapMutations([
      "getPermission",
      "getCatalogs",
      "getUserCatalog",
      "getUserPermission",
    ]),

    // Відкриваємо вікно для створення
    openCreate() {
      if (this.subadmins.length <= 7) {
        this.createUser = !this.createUser;
      } else {
        this.showMessage = !this.showMessage;
      }
    },

    closeMessage() {
      this.showMessage = false;
    },

    // Відкриваємо вікно Список субадмінів
    openList() {
      this.listUser = true;
    },

    // Відкриваємо вікно Дозвіли
    openPermissionsUser() {
      this.permissionsOpen = true;
    },

    openCatalogsUser() {
      this.catalogsOpen = true;
    },

    // Закриваємо вікно Створення
    closeAdd() {
      this.createUser = false;
    },

    // Закриваємо Список субадмінів
    closeListUser() {
      this.listUser = false;
    },

    // Закриваємо вікно Дозвіли
    closePermission() {
      this.permissionsOpen = false;
    },

    closeCatalog() {
      this.catalogsOpen = false;
    },

    doLogOut() {
      localStorage.clear();
      this.$router.push("auth");
    },

    changeTab(i) {
      this.activeTab = i;

      if (i === 0) {
        this.openList();
      } else if (i === 1) {
        this.openPermissionsUser();
      } else if (i === 2) {
        this.openCatalogsUser();
      }
    },

    // День, місяць
    formatHumanDate(time) {
      const inputDate = time ? new Date(time) : new Date();
      const inputDay = inputDate.getDate();
      const inputMonth = inputDate.getMonth();

      return `${inputDay.toString().padStart(2, "0")}.${(inputMonth + 1)
        .toString()
        .padStart(2, "0")}`;
    },

    // Час
    formatHumanTime(time) {
      const inputDate = time ? new Date(time) : new Date();
      const inputHours = inputDate.getHours();
      const inputMinutes = inputDate.getMinutes();

      return `${inputHours.toString().padStart(2, "0")}:${inputMinutes
        .toString()
        .padStart(2, "0")}`;
    },

    formatFullDate(time) {
      return `${this.formatHumanDate(time)} ${this.formatHumanTime(time)}`;
    },

    // Модальне вікно
    showModal() {
      const randomIndex = Math.floor(Math.random() * this.questions.length);
      this.currentQuestion = this.questions[randomIndex];
      this.show = true;
    },

    checkAnswer() {
      if (this.answers.answer === this.currentQuestion.answer) {
        this.show = false;
        this.answers.answer = "";
      } else {
        localStorage.clear();
        this.answers.answer = "";
        this.answers.error = "Неправильный ответ. Попробуйте еще раз.";
        this.show = false;
        this.$router.push("auth");
      }
    },

    closeModal() {
      this.show = false;
      this.answers.answer = "";
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/hero.scss";
@import "@/assets/scss/tabs.scss";
@import "@/assets/scss/modal-head.scss";
@import "@/assets/scss/modal.scss";
@import "@/assets/scss/transitions.scss";

body {
  overflow: hidden;
}
p {
  margin: 0;
  padding: 0;
}

.message {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgba(41, 53, 96, 0.5);

  &__wrapper {
    position: absolute;
    z-index: 100;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    max-width: 500px;
    max-height: 626px;
    width: 100%;

    padding: 20px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;

      &-track {
        border-radius: 5px;
        border: 1px solid #fff;
        background: #e3e8ec;
      }

      &-thumb {
        border-radius: 5px;
        background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      }
    }
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
  }

  &__error {
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: red;
    margin-top: 5px;
  }

  &__title {
    color: #333;
    font-size: 24px;
  }

  &__forma {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  & h4 {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
  }
}
</style>
