<template>
  <div class="auth">
    <div class="auth__wrapper">
      <div class="auth__left">
        <div class="auth__logo">
          <img src="../assets/image/admin.png" alt="logo" />
        </div>
        <h4>
          Щоб увійти в програму, потрібно щоб адміністратор надав вам дані для
          входу
        </h4>
        <h2 class="auth__title">АВТОРИЗАЦІЯ</h2>

        <!-- Форма для входу -->
        <form action="#" class="auth__forma" @submit.prevent>
          <BaseInput
            id="email"
            type="email"
            v-model="fields.email"
            placeholder="Електронна пошта"
            label="Електронна пошта"
            :error="errors.email"
          />

          <BaseInput
            id="password"
            type="password"
            v-model="fields.password"
            placeholder="Пароль"
            label="Пароль"
            :error="errors.password"
          />
          <span class="auth__error" v-if="errors.general != null"
            >{{ errors.general }}!!!</span
          >

          <BaseBtn text="Увійти" @click="handleSignIn" />
        </form>
      </div>

      <div class="auth__box">
        <div class="auth__img auth__img--1">
          <img src="../assets/image/admin1.jpg" alt="image" />
        </div>
        <div class="auth__img auth__img--2">
          <img src="../assets/image/admin2.jpg" alt="image" />
        </div>
        <div class="auth__img auth__img--3">
          <img src="../assets/image/admin3.jpg" alt="image" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseBtn from "@/components/BaseBtn.vue";
import BaseInput from "@/components/BaseInput.vue";

import axios from "@/api/api";

export default {
  name: "RegistrationView",
  components: {
    BaseBtn,
    BaseInput,
  },
  data: () => ({
    fields: {
      email: null,
      password: null,
    },
    errors: {
      general: null,
      email: null,
      password: null,
    },
  }),

  computed: {
    // Перевірка на заповнення полів
    TestPole() {
      return Object.values(this.fields).every((item) => {
        return item;
      });
    },
  },

  methods: {
    handleSignIn() {
      const x = Math.random(10) * 100;
      const y = 4 * Math.log(Math.pow(7, x));
      console.log("X: ", x, "Y: ", y);
      axios
        .post("/auth/login", {
          email: this.fields.email,
          password: this.fields.password,
          x,
          y,
        })
        .then((res) => {
          const data = res.data.user;

          const user = {
            id: data.id,
            email: data.email,
            firstname: data.first_name,
            lastname: data.last_name,
            role: data.role,
          };

          // Кладемо дані користувача у localStorage
          localStorage.setItem("user", JSON.stringify(user));

          // Кладемо токени у localStorage
          localStorage.setItem("access_token", res.data.access_token);
          localStorage.setItem("refresh_token", res.data.refresh_token);

          // Переходимо на головну сторінку
          this.$router.push({ name: "home" });
        })
        // Робимо обробку помилок
        .catch((e) => {
          this.errors.general = e.response.data.message;

          if (this.fields.email === null) {
            this.errors.email = e.response.data.errors.email.constraints[0];
          }
          if (this.fields.password === null) {
            this.errors.password =
              e.response.data.errors.password.constraints[0];
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/auth.scss";
</style>
