<template>
  <div class="error">
    <div class="error__wrapper">
      <div class="error__block">
        <h2 class="error__title">
          404 <br />
          Упс! Вийшла помилка!
        </h2>
        <router-link :to="{ name: 'home' }"
          >Перейти до головної сторінки</router-link
        >
      </div>

      <div class="error__image">
        <img src="../assets/image/error.jpg" alt="img error" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404View",
};
</script>

<style lang="scss" scoped>
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Open+Sans:400,600,700);
.error {
  height: 100vh;
  position: relative;

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    transform: translateY(-50%) translateX(-50%);

    position: absolute;
    left: 50%;
    top: 50%;

    & a {
      font-size: 24px;
      margin-top: 20px;
      text-align: center;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #8080f6;
  }

  &__image {
    width: 800px;
    height: 600px;
  }
}
</style>
