.auth {
  width: 100%;
  height: 100vh;

  padding: 40px 0 0 15px;

  background-color: #edf4f9;

  & h4 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: center;
    gap: 150px;
  }

  &__logo {
    width: 300px;
    height: 150px;

    margin-top: -40px;

    & img {
      object-fit: contain;
    }
  }

  &__box {
    position: relative;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
    border-top-left-radius: 6.25rem;
  }

  &__left {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: 64px;
    height: 55px;
    padding: 7px;
    background: #ececec;

    & img {
      width: 40px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    border-radius: 25px;

    & img {
      border-radius: 25px;
    }

    &--1 {
      top: 5%;
      left: 70px;

      width: 600px;
      height: 600px;
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    }

    &--2 {
      top: 20%;
      left: -4rem;

      width: 250px;
      height: 300px;
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    }

    &--3 {
      top: 50%;
      left: 24rem;

      width: 350px;

      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    }
  }

  &__forma {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    height: 100%;
  }

  &__error {
    color: red;
    font-size: 18px;
    letter-spacing: 1px;
  }
}
