.btn {
  width: 100%;
  height: 3.125rem;
  padding: 0 1.5rem;
  border-radius: 0.75rem;
  background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;

  transition: 0.2s ease;

  & svg {
    fill: #fff;
  }

  &:hover {
    background: linear-gradient(183deg, #5d96ff 0%, #4f4de3 100%);
  }

  &:active {
    background: linear-gradient(183deg, #1c5dd4 0%, #7a4bc6 100%);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--outline {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%) border-box;
    border: 1px solid transparent;

    & svg {
      fill: none;
    }

    & span {
      background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(183deg, #5d96ff 0%, #4f4de3 100%) border-box;

      & span {
        background: linear-gradient(183deg, #5d96ff 0%, #4f4de3 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:active {
      background: linear-gradient(#edf3ff, #edf3ff) padding-box,
        linear-gradient(183deg, #1c5dd4 0%, #7a4bc6 100%) border-box;

      & span {
        background: linear-gradient(183deg, #1c5dd4 0%, #7a4bc6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &--outline-grey {
    background: linear-gradient(#f0f5f8, #f0f5f8) padding-box,
      linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%) border-box;
    border: 1px solid transparent;

    & svg {
      fill: none;
    }

    & span {
      background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      background: linear-gradient(#f0f5f8, #f0f5f8) padding-box,
        linear-gradient(183deg, #5d96ff 0%, #4f4de3 100%) border-box;

      & span {
        background: linear-gradient(183deg, #5d96ff 0%, #4f4de3 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &--red {
    background: transparent;
    border: 1px solid #d6244e;
    color: #d6244e;

    &:hover {
      background: rgb(214, 36, 78, 0.1);
    }

    &:active {
      background: rgb(214, 36, 78, 0.3);
    }
  }

  &--white {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background: rgb(255, 255, 255, 0.1);
    }

    &:active {
      background: rgb(255, 255, 255, 0.3);
    }
  }

  &--small {
    max-width: 3.75rem;
    width: 100%;
    height: 2rem;

    padding: 0 0.375rem;

    & svg {
      &:last-of-type {
        display: none;
      }
    }
  }

  &--big {
    height: 5rem;
    padding: 0 3rem;
    background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%)-btn-big;
    box-shadow: 0 16px 65px 0 rgb(29 90 138 / 41%),
      0 1px 0 0 rgb(255 255 255 / 7%) inset;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
    text-transform: uppercase;
  }

  &--clear {
    height: 2.375rem;
  }

  &--filter {
    width: 8rem;
    height: 2.375rem;
  }
}

@media (max-width: 850px) {
  .btn {
    max-width: 24rem;
    width: 100%;

    &--small {
      max-width: initial;
      width: initial;
      height: initial;

      padding: initial;
      background: initial;

      & svg {
        &:first-of-type {
          display: none;
        }

        &:last-of-type {
          display: block;
          fill: #9898a1;
        }
      }
    }

    &--big {
      height: 3.5rem;
      font-size: 1rem;
    }

    &--filter {
      width: 3.125rem;
      height: 3.125rem;
      flex-shrink: 0;
      padding: initial;
    }

    &--merchants {
      padding: 0 0.5rem;

      & .icon {
        display: none;
      }
    }
  }
}
