.hero {
  width: 100%;
  height: 100vh;

  padding: 40px 0 0 15px;

  background-color: #edf4f9;

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 150px;
  }

  &__block {
    max-height: 100vh;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;

    & button {
      width: 40px;
      height: 50px;
    }
  }

  &__box {
    position: relative;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
    border-top-left-radius: 6.25rem;
  }

  &__img {
    position: absolute;
    width: 100%;
    border-radius: 25px;

    & img {
      border-radius: 25px;
    }

    &--1 {
      top: 5%;
      left: 70px;

      width: 600px;
      height: 600px;
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    }

    &--2 {
      top: 20%;
      left: -4rem;

      width: 250px;
      height: 300px;
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    }

    &--3 {
      top: 50%;
      left: 24rem;

      width: 350px;

      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
    }
  }

  &__logo {
    width: 300px;
    height: 150px;

    margin-top: -40px;

    & img {
      object-fit: contain;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 10px;

    font-size: 48px;
    font-weight: 400;
    color: rgb(52, 52, 52);

    & svg {
      width: 40px;
      height: 40px;

      margin-top: 5px;

      fill: rgb(52, 52, 52);
    }

    & span {
      text-transform: uppercase;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 15px;
  }

  &__item {
    display: grid;
    grid-template-columns: 15% 27% 1fr;
    gap: 10px;
    align-items: center;

    & p {
      font-size: 16px;
    }

    & h4 {
      font-size: 18px;
      font-weight: 400;
      color: rgb(49, 49, 49);
    }

    &--head {
      grid-template-columns: 15% 1fr 1fr 1fr;

      border-bottom: 1px solid rgb(174, 174, 174);
    }
  }
}
