.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &__block {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0.8rem;
    right: 1rem;

    color: #9898a1;
    transition: 0.2s ease;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        color: #5d96ff;
      }
    }

    &--blue {
      color: #5d96ff;
    }

    &--editing {
      cursor: initial;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__field {
    display: flex;
    align-items: center;

    width: 100%;
    height: 3.125rem;
    padding: 0 1rem;
    border-radius: 0.75rem;
    background-color: #f0f5f8;
    border: 1px solid #b8bfca;

    color: #333;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &::placeholder {
      color: #9898a1;
    }

    &:hover {
      border-color: #5d96ff;

      & ~ .input__icon--editing {
        visibility: visible;
        opacity: 1;
      }
    }

    &:focus {
      border-color: #5d96ff;
      background-color: #edf3ff;

      & ~ .input__icon--editing {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__text {
    font-size: 0.8125rem;
    color: #9898a1;
  }

  &.error {
    & .input {
      &__field {
        border-color: #d6244e;
        background-color: #ffeff3;
      }

      &__error {
        color: #d6244e;
      }
    }
  }

  &--white {
    & .input {
      &__field {
        background-color: #fff;
      }
    }
  }

  &--green {
    & .input {
      &__field {
        color: #209d55;
      }
    }
  }

  &--big {
    & .input {
      &__field {
        height: 4rem;
        padding: 0 1.5rem;
      }
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}

@media (max-width: 1023px) {
  .input {
    &__field {
      font-size: 0.875rem;
    }
  }
}
