.modal-head {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);

  &__icon {
    fill: #333;
  }

  &__close {
    margin-left: auto;
    fill: #b8bfca;
  }
}

@media (max-width: 850px) {
  .modal-head {
    align-items: initial;
    padding: 1.5rem 1rem;

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    &__close {
      & svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}
