.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;

  width: 100%;
  height: 100%;
  padding: 4rem;

  background-color: rgba(51, 51, 51, 0.5);
  overflow-y: auto;

  &__window {
    max-width: 34.375rem;
    width: 100%;
    height: fit-content;
    margin: auto;

    background-color: #fff;
    border-radius: 0.75rem;
  }

  &__wrapper {
    padding: 2rem;

    display: grid;
    gap: 15px;
  }
}

@media (max-width: 850px) {
  .modal {
    padding: 1rem;

    &__window {
      max-width: 26rem;
    }

    &__wrapper {
      padding: 2rem 1rem;
    }
  }
}
