.start {
  width: 100%;
  height: 100vh;

  padding: 40px 0 0 15px;

  background-color: #edf4f9;

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: center;
    gap: 150px;
  }

  &__logo {
    width: 300px;
    height: 150px;

    margin-top: -40px;

    & img {
      object-fit: contain;
    }
  }

  &__box {
    position: relative;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #6eb6ff 0%, #8080f6 100%);
    border-top-left-radius: 6.25rem;
  }

  &__left {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: 64px;
    height: 55px;
    padding: 7px;
    background: #ececec;

    & img {
      width: 40px;
    }
  }

  &__forma {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    height: 100%;
  }

  &__error {
    color: red;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media (max-width: 765px) {
  .start {
    &__left {
      padding: 15px;
    }

    &__title {
      font-size: 26px;
    }

    &__img {
      margin-top: 20px;
    }

    &__forma {
      margin-top: 20px;
      gap: 25px;
    }

    &__btn {
      font-size: 16px;
      margin-top: 60px;
    }
  }
}

@media (max-width: 670px) {
  .start {
    &__left {
      max-width: 100%;
    }

    &__title {
      margin-top: 60px;
    }

    &__btn {
      margin-top: 30px;
    }
  }
}
