.tabs {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  margin-top: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    cursor: pointer;
    transition: 0.2s ease;

    &--active {
      & .tabs {
        &__text {
          color: #5d96ff;

          &::before {
            background: #5d96ff;
          }
        }

        &__amount {
          background: #209d55;
          color: #fff;
        }
      }
    }
  }

  &__text {
    position: relative;
    padding: 1rem 0;

    font-size: 18px;

    color: #b8bfca;

    transition: 0.2s ease;

    &::before {
      content: "";

      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      z-index: 1;

      display: block;

      width: 100%;
      height: 3px;

      background: transparent;
      border-radius: 99px;

      transition: 0.2s ease;
    }
  }

  &__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 1.5rem;
    height: 1.5rem;

    background: #b8bfca;
    border-radius: 50%;

    line-height: 1;

    transition: 0.2s ease;

    &--grey {
      background: #b8bfca;
    }
  }

  &--filled {
    gap: 1rem;

    width: fit-content;
    padding: 0.25rem;

    background: #edf3ff;
    border-radius: 0.75rem;

    & .tabs {
      &__item {
        border-radius: 0.5rem;

        &--active {
          background: #c9dcff;
        }
      }

      &__text {
        padding: 0.5rem 0.75rem;

        &::before {
          content: none;
        }
      }
    }
  }

  &--small {
    border-bottom: 1px solid #e3e8ec;

    & .tabs {
      &__text {
        padding: 0.25rem 0;
      }
    }
  }
}

@media (max-width: 850px) {
  .tabs {
    margin: 0 -1rem;
    padding: 0 1rem 2px;

    border-bottom: 1px solid #e3e8ec;

    &--filled {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.25rem;

      max-width: 21.5rem;
      width: 100%;
      padding: 0.25rem;
      margin: 0;

      background: #fff;
      overflow: initial;

      & .tabs {
        &__item {
          width: 100%;
        }

        &__text {
          width: 100%;
          padding: 0.5rem 0.75rem;

          text-align: center;

          &::before {
            content: none;
          }
        }
      }
    }
  }
}
