.fade-group {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-leave-active {
    position: absolute;
  }
}

.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: 0.2s ease;
  }
}

.fade-long {
  &-enter-from {
    transform: translateX(3rem);
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    transition: 0.4s ease;
  }

  &-leave-active {
    transition: 2s ease;
  }
}
